.banner-wa {
    &__c {
        display: flex;
        border: 1px solid $gray;

        @include mobile {
            flex-direction: column;
            padding: 12rem 2rem;
            box-sizing: border-box;
            gap: 2rem;
        }

        &-img {
            flex-shrink: 0;
            width: calc(33.6rem + 7rem + 7rem);
            height: calc(27.7rem + 7rem + 7rem);
            padding: 7rem;
            box-sizing: border-box;
            border-right: 1px solid $gray;
            display: flex;

            @include mobile {
                width: 100%;
                height: 56.6rem;
                padding: 0;
            }

            & img {
                object-fit: cover;
                object-position: center;
            }
        }

        &-right {
            padding: 7rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            @include mobile {
                padding: 0;
                margin-top: 4rem;
                padding-top: 2rem;
                border-top: 1px solid $gray;
            }

            &-row {
                display: flex;
                gap: 2rem;

                @include mobile {
                    flex-direction: column;
                }

                & .sale__btn {

                    @include mobile {
                        width: 100%;

                    }

                    &._wa {
                        padding-right: 1rem;
                        gap: 1rem;

                        @include mobile {
                            justify-content: space-between;
                        }
                    }

                    & svg {
                        width: 4rem;
                        position: relative;

                        @include mobile {
                            width: 7rem;
                        }
                    }
                }
            }

            &-link {
                display: flex;
                gap: 2rem;
                color: $white;
                background-color: $red;
                padding: 1px 1px 3px 3.2rem;
                border-radius: 10rem;
                align-items: center;
                width: fit-content;
                transition: background-color .5s, color .5s;

                @include mobile {
                    margin-left: auto;
                }

                & svg {
                    width: 7rem;
                    height: 7rem;
                    fill: $white;
                    transition: fill .5s;
                }

                @include hover {
                    background-color: $white;
                    color: $red;

                    & svg {
                        fill: $red;
                    }
                }

                @include mobile {
                    justify-content: center;

                    border-radius: 20rem;
                }


            }
        }
    }
}