.how-order {
    &__c {
        display: grid;
        grid-template-columns: 30% 66%;
        gap: 5.4rem;
        @include mobile{
            grid-template-columns: 100%;
            padding: 0;
        }

        &-left {
            padding: 3.2rem 0;
            box-sizing: border-box;
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            @include mobile{
                padding: 3.2rem 2rem;
            }
        }

        &-swiper {
            width: 100%;
            @include mobile{
                & .swiper-wrapper{
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
             
            }

            &-slide {
                display: flex;
                padding: 4rem 15rem 4rem 4rem;
                box-sizing: border-box;
                gap: 3rem;
                border: 1px solid $gray;
                @include mobile{
                    padding: 4rem;
                }
            }
        }
    }
}