<section class="adv-3-blocks">
    <div class="container adv-3-blocks__c">
        <div class="adv-3-blocks__c-swiper swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide adv-3-blocks__c-swiper-slide ">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E"></circle>
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E"></circle>
                    </svg>

                    <h3 class="h h_h2">Широкий ассортимент</h3>
                    <p class="txt18">
                        большой выбор обуви для детей разных возрастов
                    </p>
                </li>
                <li class="swiper-slide adv-3-blocks__c-swiper-slide ">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E"></circle>
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E"></circle>
                    </svg>

                    <h3 class="h h_h2">Специальные условия</h3>
                    <p class="txt18">
                        гибкие условия оплаты <br /> и эксклюзивные скидки
                    </p>
                </li>
                <li class="swiper-slide adv-3-blocks__c-swiper-slide ">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E"></circle>
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E"></circle>
                    </svg>

                    <h3 class="h h_h2">Качество материалов</h3>
                    <p class="txt18">
                        все товары проходят строгий <br />
                        контроль качества
                    </p>
                </li>
            </ul>

        </div>
    </div>
</section>