<section class="adv-wholesale">
    <div class="container adv-wholesale__c">
        <div class=adv-wholesale__c-cell>
            <h2 class=desktop>Детская одежда оптом: <br /> европейское качество <br class=desktop />
                по выгодным ценам</h2>
            <p >
                Где купить детские вещи оптом в Москве для успешного старта или развития вашего бизнеса? Компания "Moda
                Per Bambini" – ваш надежный поставщик модной детской одежды от ведущих европейских производителей. Мы
                предлагаем полный комплекс услуг: от заказа до доставки, а также выгодные условия сотрудничества для
                владельцев магазинов, интернет-магазинов и всех, кто хочет начать свой бизнес в сфере детской одежды.
            </p>
            <p >
                Предлагаем широкий ассортимент модной одежды для детей от производителя оптом для продажи в вашем
                магазине.
            </p>
            <h3 class=desktop>
                Преимущества оптовых закупок:
            </h3>
            <ul class=desktop>
                <li>
                    <span class=col-red>Полное сопровождение:</span> Мы берем на себя все заботы, связанные с закупкой
                    и доставкой товара. Вам не
                    нужно тратить время на поиск поставщиков, оформление документов и логистику
                </li>
            </ul>
        </div>
        <div class=adv-wholesale__c-cell>
            <h2 class=mobile>Детская одежда оптом: <br /> европейское качество <br class=desktop />
                по выгодным ценам</h2>
            <img src=./assets/images/contactsp.png alt=img>
        </div>
        <div class=adv-wholesale__c-cell>
            <img src=./assets/images/contactsp.png alt=img>
        </div>
        <div class=adv-wholesale__c-cell>
            <h3 class=mobile>
                Преимущества оптовых закупок:
            </h3>
            <ul >
                <li>
                    <span class=col-red>Полное сопровождение:</span> Мы берем на себя все заботы, связанные с закупкой
                    и доставкой товара. Вам не
                    нужно тратить время на поиск поставщиков, оформление документов и логистику
                </li>
                <li>
                    <span class=col-red>Современные коллекции:</span>
                    В нашем ассортименте представлены актуальные школьные и зимние капсулы, отвечающие последним
                    тенденциям детской моды, которые легко купить оптомх,
                    наполненных солнечным светом и солёным морским воздухом.
                </li>
                <li>
                    <span class=col-red>Сбалансированный ассортимент:</span>
                    Мы сотрудничаем с пятью ведущими европейскими брендами: Original
                    Marines (Италия), Du pareil au meme (Франция), Boboli (Испания), Sergent Major (Франция), Jacadi
                    (Франция). Это позволяет нам предлагать разнообразную одежду для детей всех возрастов – от
                    новорожденных до подростков.
                </li>
                <li>
                    <span class=col-red> Выгодные цены и скидки:</span>
                    У нас выгодно заказать детскую одежду оптом, ведь мы предлагаем конкурентные цены на всю продукцию,
                    а также гибкую систему скидок для постоянных клиентов
                </li>
                <li>
                    <span class=col-red> Минимальные сроки отгрузки:</span>
                    Ваш заказ будет собран и отправлен в кратчайшие сроки
                </li>
                <li>
                    <span class=col-red> Самый актуальный ассортимент:</span>
                    Мы постоянно обновляем коллекции, чтобы вы могли предложить своим клиентам самые модные и интересные
                    модели.
                </li>
                <li>
                    <span class=col-red>Минимальный заказ: 100 000 рублей</span>
                </li>
            </ul>
        </div>
    </div>
</section>


<!-- 
 
         -->