<section class="another-banner">
    <div class="container another-banner__c">
        <div class="another-banner__c-side">
            <h2 class="h h_h1">
                Откройте магазин детской одежды MODA PER BAMBINI
                по франшизе и получите уникальные преимущества! 🔥
            </h2>
        </div>
        <div class="another-banner__c-side">
            <p class="h h_h2">🚀 Максимальная прибыль с самого начала:</p>
            <ul>
                <li class="col-red">
                    Высокая наценка 190-200% на старте сезона
                </li>
                <li class="col-red">
                    Более 2000 моделей в каждой коллекции
                </li>
                <li class="col-red">
                    Известные европейские бренды: Original Marines, <br />
                    Du pareil au meme, Boboli, Sergent Major,
                    Jacadi

                </li>
                <li class="col-red">
                    Средний и средний+ ценовой сегмент – оптимальное соотношение цены и качества!
                </li>
            </ul>
        </div>
    </div>
</section>