<section class="collections">
    <div class="container">
        <h2 class="h h_h2 collections__heading">Коллекции</h2>
        <div class="collections__category">
            <div class="collections__category-name">
                <div class="collections__category-name-logo">
                    <picture>
                        <source media="(max-width: 768px )" srcset="./assets/images/icons/boboli-mob.svg">
                        <img src="./assets/images/icons/boboli.svg" alt="item">
                    </picture>
                </div>
                <p class="txt20 _bold txt-up"> Boboli</p>
            </div>
            <div class=" collections__category-swiper swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, explicabo!
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="../assets/images/contactsp.png" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>

                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
                </ul>
            </div>

        </div>
        <div class="collections__category">
            <div class="collections__category-name">
                <div class="collections__category-name-logo">
                    <picture>
                        <source media="(max-width: 768px )" srcset="./assets/images/icons/boboli-mob.svg">
                        <img src="./assets/images/icons/boboli.svg" alt="item">
                    </picture>
                </div>
                <p class="txt20 _bold txt-up"> Boboli</p>
            </div>
            <div class=" collections__category-swiper swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide collections__category-swiper-slide">
                        <div class="collections__category-swiper-slide-img">
                            <img src="./assets/images/icons/boboli.svg" alt="item">
                        </div>
                        <h3 class="collections__category-swiper-slide-name h h_h2">
                            item name
                        </h3>
                    </li>
               
                </ul>
            </div>

        </div>
    </div>
</section>