<section class="how-order">
    <div class="container how-order__c">
        <div class="how-order__c-left">
            <h2 class="h h_h1">
                Оптовая торговля детской одеждой: <br />
                как сделать заказ?
            </h2>
            <p class="txt20">Мы заботимся о наших клиентах и предлагаем <br class="desktop" /> два варианта заказа:</p>
        </div>
        <div class="how-order__c-swiper swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide how-order__c-swiper-slide">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E"></circle>
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E"></circle>
                    </svg>

                    <h3 class="h h_h2">Заказать из каталогов <br />
                        по наличию товара</h3>
                    <p class="txt18">
                        Вы можете выбрать и купить одежду из каталогов с товаром, который уже находится на
                        нашем складе в Москве. Это гарантирует быструю отгрузку и доставку.
                    </p>
                </li>
                <li class="swiper-slide how-order__c-swiper-slide">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E"></circle>
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E"></circle>
                    </svg>

                    <h3 class="h h_h2">Заказать из каталогов <br />
                        по наличию товара</h3>
                    <p class="txt18">
                        Вы можете выбрать и купить одежду из каталогов с товаром, который уже находится на
                        нашем складе в Москве. Это гарантирует быструю отгрузку и доставку.
                    </p>
                </li>
            </ul>

        </div>
    </div>
</section>