<section class="open-stages">
    <div class="container">
        <h2 class="h h_h1">эТАПЫ ОТКРЫТИЯ ВАШЕГО МАГАЗИНА</h2>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <p class="h h_h1">1</p>
                    <p class="h h_h2">Заявка на открытие магазина</p>
                    <span class="open-stages-dot"></span>
                </li>
                <li class="swiper-slide">
                    <p class="h h_h1">2</p>
                    <p class="h h_h2">Заключение соглашения</p>
                    <span class="open-stages-dot"></span>
                </li>
                <li class="swiper-slide">
                    <p class="h h_h1">3</p>
                    <p class="h h_h2">Оценка помещения</p>
                    <span class="open-stages-dot"></span>
                </li>
                <li class="swiper-slide">
                    <p class="h h_h1">4</p>
                    <p class="h h_h2">Закупка оборудования 
                        и товара</p>
                    <span class="open-stages-dot"></span>
                </li>
                <li class="swiper-slide">
                    <p class="h h_h1">5</p>
                    <p class="h h_h2">Обучение и аттестация персонала</p>
                    <span class="open-stages-dot"></span>
                </li>
                <li class="swiper-slide _big">
                    <p class="h  open-stages-six">6</p>
                    <p class="h open-stages-text col-red">Старт продаж</p>
                    <span class="open-stages-dot"></span>
                </li>
            </ul>
        </div>
    </div>
</section>