<section class="start-stages">
    <div class="container">
        <h2 class="mobile h h_h1">простые шаги <br /> к открытию <br /> и поддержкана <br /> каждом этапе</h2>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide desktop">
                    <p class="h h_h1">
                        Этапы запуска <br /> магазина <br />
                        по франшизе:
                    </p>
                </li>
                <li class="swiper-slide start-stages__slide">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                    </svg>
                    <p class="h h_h2">Обращение в компанию:</p>
                    <p class="txt18">вы оставляете заявку на сайте или связываетесь с менеджером по телефону</p>
                </li>
                <li class="swiper-slide start-stages__slide">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                    </svg>
                    <p class="h h_h2">Выбор локации и формата магазина:</p>
                    <p class="txt18">совместно с представителями MODA PER BAMBINI вы подбираете оптимальное помещение и определяетесь с концепцией магазина</p>
                </li>
                <li class="swiper-slide start-stages__slide">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                    </svg>
                    <p class="h h_h2">Заключение договора:</p>
                    <p class="txt18">после согласования всех условий вы заключаете договор франчайзинга</p>
                </li>
                <li class="swiper-slide start-stages__slide">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                    </svg>
                    <p class="h h_h2">Обучение и подготовка к открытию:</p>
                    <p class="txt18">компания предоставляет обучение по стандартам работы, мерчендайзингу и продажам</p>
                </li>
                <li class="swiper-slide start-stages__slide">
                    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="23" cy="33" r="23" fill="#DA251E" />
                        <circle cx="33" cy="23" r="22.5" stroke="#1E1E1E" />
                    </svg>
                    <p class="h h_h2">Открытие магазина:</p>
                    <p class="txt18">помогаем в организации торжественного открытия и запуска рекламной кампании</p>
                </li>
            </ul>
        </div>
    </div>

</section>